<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
    {{- partial "head.html" . -}}
    <body>
      <div class="grid-container{{ if .Params.layout }} {{ .Params.layout }}{{ end }}{{ if .IsHome }} home{{ end }}">
        {{- block "header" . }}{{- partial "header.html" . -}}{{- end }}
        {{- block "main" . }}{{- end }}
        {{ if and (not .IsHome) (not .Params.show_action_link) }}
        <div class="site-backlink tl ph5 pb2">
          <a class="action text" href="{{ "/" | relURL }}" onclick="window.history.length > 1 ? (window.history.back(), false) : true">&larr; back</a>
        </div>
        {{ end }}
        {{- block "footer" . }}{{- partial "footer.html" . -}}{{- end }}
      </div>
    </body>
</html>
